{% include 'nav.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Add Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <style>
      /* Custom CSS for form fields on larger screens */
      @media (min-width: 768px) {
        .form-inline .form-group {
          display: inline-block;
          margin-right: 10px;
        }
      }
    </style>
    <title>Search Donor</title>
  </head>

  <body>
    <div class="container">
      <h2 class="text-center mb-4">Search Donor</h2>
      <div class="row">
        <div class="col">
          <form action="{% url 'search_donor' %}" method="GET">
            {% csrf_token %}
            <div class="form-row">
              <div class="col-lg-4 col-md-6 form-group">
                <select
                  name="bloodgroup"
                  id="bloodgroup"
                  class="form-control"
                  required
                >
                  <option value="">Select a blood group</option>
                  <option value="A+">A+</option>
                  <option value="A-">A-</option>
                  <option value="B+">B+</option>
                  <option value="B-">B-</option>
                  <option value="AB+">AB+</option>
                  <option value="AB-">AB-</option>
                  <option value="O+">O+</option>
                  <option value="O-">O-</option>
                </select>
              </div>
              <div class="col-lg-4 col-md-6 form-group">
                <select name="city" id="city" class="form-control" required>
                  <option value="">Select a city</option>
                  <option value="Chennai">Chennai</option>
                  <option value="Coimbatore">Coimbatore</option>
                  <option value="Madurai">Madurai</option>
                  <option value="Tiruchirappalli">Tiruchirappalli</option>
                  <option value="Salem">Salem</option>
                  <option value="Tirunelveli">Tirunelveli</option>
                  <option value="Tiruppur">Tiruppur</option>
                  <option value="Erode">Erode</option>
                  <option value="Vellore">Vellore</option>
                  <option value="Thoothukudi">Thoothukudi</option>
                  <option value="Dindigul">Dindigul</option>
                  <option value="Thanjavur">Thanjavur</option>
                  <option value="Ranipet">Ranipet</option>
                  <option value="Sivakasi">Sivakasi</option>
                  <option value="Karur">Karur</option>
                  <option value="Nagercoil">Nagercoil</option>
                  <option value="Hosur">Hosur</option>
                  <option value="Thanjavur">Thanjavur</option>
                  <option value="Tambaram">Tambaram</option>
                  <option value="Cuddalore">Cuddalore</option>
                  <option value="Kanchipuram">Kanchipuram</option>
                  <option value="Tiruvannamalai">Tiruvannamalai</option>
                  <option value="Pollachi">Pollachi</option>
                  <option value="Rajapalayam">Rajapalayam</option>
                  <option value="Krishnagiri">Krishnagiri</option>
                  <option value="Neyveli">Neyveli</option>
                  <option value="Nagapattinam">Nagapattinam</option>
                </select>
              </div>
              <div class="col-lg-3 col-md-6 form-group">
                <button type="submit" class="btn btn-primary btn-block">
                  Search
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col">
          {% if donors %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Number</th>
              </tr>
            </thead>
            <tbody>
              {% for donor in donors %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ donor.name }}</td>
                <td>{{ donor.mobile }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          {% else %}
          <p class="text-center">No donors found.</p>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Add Bootstrap JS (jQuery and Popper.js dependencies) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    {% include 'footer.html' %}
  </body>
</html>
